
@font-face {
  font-family: 'twceb';
  src: url('TwCenMT-CondensedExtraBold.eot?#iefix') format('embedded-opentype'),  url('TwCenMT-CondensedExtraBold.woff') format('woff'), url('TwCenMT-CondensedExtraBold.ttf')  format('truetype'), url('TwCenMT-CondensedExtraBold.svg#TwCenMT-CondensedExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
